body {
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS';
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#head{
    background-color: rgba(0,0,0,0.7);
    border: 2px white solid;
    color: white;
    width: 65%;
    font-weight: bold;
    padding: 0.3px 5px;
    border-radius: 8px;
}

.accordion{
    margin-top: 15px;
    width: 65%;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}
.accordion .content-container .question{
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px black solid;
    position: relative;
    cursor: pointer;
}
.accordion .content-container .question::after{
    position: absolute;
    content: '+';
    font-size: 20px;
    right: 20px;
}
.accordion .content-container .answer{
    line-height: 1.5;
    font-size: 18px;
    padding-top: 5px;
    width: 100%;

    height: 0;
    overflow: hidden;
    
    transition: .5s;
}

.accordion .content-container.active .answer{
    transition: .5s;
    height: 150px;
}
.accordion .content-container.active .question{
    font-size: 18px;
    transition: .5s;
}
.accordion .content-container.active .question::after{
    content: '-';
}